.show-main {
    margin-bottom: 45px;
}

.show-main img {
    max-width: 300px;
    min-width: 300px;
    object-fit: cover;
}

.show-main p {
    color: var(--text-secondary);
}

.show-main .column:nth-child(1) {
    flex-basis: 300px;
}

.show-main .column:nth-child(2) {
    flex: 1 1 500px;
}