@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: red;
  --text: #fff;
  --text-secondary: #c2d4f8;
  --darkbackground: #1e1d32;
  --lightbackground: #292845;
  --lighterbackground: #5b5a80;
  --lightestbackground: #c2d4f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text)
}

body {
  font-family: 'Poppins', sans-serif;
}

html, body, #root {
  height: 100%;
}

h1 {
	font-size: 2.06em;
	line-height: 1.58em;
	padding-top: 0.455em;
	margin-bottom: 0.333em;
}

h2 {
	font-size: 1.75em;
	line-height: 1.86em;
	padding-top: 0.571em;
	margin-bottom: 0.357em;
}

h3 {
	font-size: 1.44em;
	line-height: 1.13em;
	padding-top: 0.217em;
	margin-bottom: 0.913em;
}

h4 {
	font-size: 1.19em;
	line-height: 1.37em;
	padding-top: 0.368em;
	margin-bottom: 1.00em;
}

p {
	font-size: 1.00em;
	line-height: 1.63em;
	/* padding-top: 0.500em;
	margin-bottom: 1.13em; */
}

img {
	border-radius: 10px;
}

.light-text {
    color: var(--text-secondary);
}

.wrapper {
	width: 100%;
	background: var(--darkbackground);
}

.wrapper.white-bg {
	background: var(--lightbackground);
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.container.padding {
	padding: 36px 0;	
}

.container.flex {
	display: flex;
	gap: 36px;
}